appdirs==1.4.3
attrs==19.3.0
black==19.10b0
chatspace==1.0.1
click==7.1.1
entrypoints==0.3
fastapi==0.65.2
flake8==3.7.9
h11==0.9.0
httptools==0.1.1
mccabe==0.6.1
numpy==1.18.2
pathspec==0.7.0
pycodestyle==2.5.0
pydantic==1.4
pyflakes==2.1.1
regex==2020.4.4
starlette==0.13.2
toml==0.10.0
torch==1.4.0
typed-ast==1.4.1
uvicorn==0.11.3
uvloop==0.14.0
websockets==8.1
